/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: '';
    clear: both;
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif; 
}

/* utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.col{
    float: left;
}

.btn-small{
    padding: 5px 10px;
}
.btn-big{
    padding: 10px 20px;
}

.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
.inline-block{
    display: inline-block;
}
/* widths */

.w-100{
    width: 100%;
}
.w-70{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-30{
    width: 30%;
}

/* bgc colors */

.bgc-blue{
    background-color:#0061ff;
}
.bgc-lightblue{
    background-color: #b4d0e7;
}


.text-dec-none{
    text-decoration: none;
}

/* text colors */

.color-black{
    color: black;
}
.color-white{
    color: white;
}


/* structure */

/* header menu */

header:not(.title-jumbo){
    background-color: #b4d0e7;
    min-height: 750px;
}

.header-menu{
    background-color: #fff;
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
}

.header-menu .logo-header, .header-menu .menu-links{
    display: inline-block;
}
img , .menu-links a{
 vertical-align: middle;
}

.logo-header{
    padding-left: 20px;
}

.btn-header{
    padding-right: 30px;
}

ul li{
    display: inline-block;
    padding-left: 30px;
}

.btn-header {
    display:inline-block;
    padding-left: 30px;
}


/* header jumbo */

.title-jumbo{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
}
.header-jumbo{
    padding-top: 160px;
}

.jumbo-content{
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    width: 370px;
    line-height: 20px;
}

.jumbo-text{
    margin-bottom: 30px;
}

.btn-jumbo-container .btn-big{
    display: inline-block;
    margin-bottom: 5px;
}
.btn-jumbo-container .btn-no-border{
    font-size: 12px;
    margin-bottom: 70px;
}

.arrow-down{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

#jumbo-img{
    max-width: 100%;
}
.img-jumbo-container{
    max-width: 70%;
}